---
---
.page-header {
  background-image: url("logo.gif");
  background-size: 100% 100%;
}

@import "{{ site.theme }}";

.page-header {
  background-image: url("logo.gif");
  background-size: 100% 100%;
}
