---
---

/*.page-header {
  color: #000000;
  background-image: url("logo.gif");
  background-size: 100% 100%;
}*/

table, td, img {
  margin: 0 auto;
  display: block;
  text-align: center;
}

.main-content {
  max-width: 74rem;
}

iframe {
  margin: 0 auto;
  display: block;
  border-style: none;
  width: 100%;
}

@import "{{ site.theme }}";

.main-content {
  max-width: 74rem;
}

iframe {
  margin: 0 auto;
  display: block;
  border-style: none;
  width:100%;
}

table, td, img {
  margin: 0 auto;
  display: block;
  text-align: center;
}

