---
---
.page-header {
  background-image: url("logo.gif");
  background-size: 150% 150%;
  background-repeat: no-repeat;
}

@import "{{ site.theme }}";

.page-header {
  background-image: url("logo.gif");
  background-size: 150% 150%;
  background-repeat: no-repeat;
}
